h1, h2, h3, h4, h5, h6, p, span, li, a{ font-family: 'Poppins', sans-serif; color: #000;}
h1{
	font-size: 50px;
}
h2{
	font-size: 45px;
}
h3{
	font-size: 40px;
}
h4 { 
	font-size: 30px; 
}
h5 { 
	font-size: 35px; 
}
h6 { 
	font-size: 30px; 
}
img{max-width: 95%;height: auto;}
iframe{ max-width: 100%; }
p{ 
  text-align: left;
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.5;
}
ul{ padding-left: 0; list-style-image: none; list-style-type: none;}
li {
  background-repeat: no-repeat;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
  min-height: 32px;
  padding-left: 44px;
  text-align: left;
}
#header .wrapper {
  border: 5px solid #fff;
}
.container {
	max-width: 1000px;
	margin: auto;
}
.video-container {
   position:relative;
   padding-bottom: 46.5%;
   padding-top:31px;
   height:0;
   overflow:hidden;
   border: 10px solid #eee;
   border-radius: 5px;
}
.video-container iframe, .video-container object, .video-container embed {
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
}
.full-width{
  background-repeat: no-repeat;
  background-size: cover;
}
.full-width-header{
  background-image: url(../images/background1.png); 
  background-repeat: round;
  background-size: cover; 

}
.full-width-background2{
  background-color: #e7e7e7;
}
.full-width-background4{
  background-image: url(../images/bg2.png); 
  background-repeat: round;
  background-size: cover; 
  background-attachment: fixed;
}


.center-image { display: block; margin-left: auto; margin-right: auto; }
.header-style { font-family:'Alex Brush', cursive; font-size: 100px; color: #ff3939; } 
.list-icon li{ color: #ffffff; margin-bottom: 3rem; font-size: 23px; line-height: 1.1em; background-image: url(../images/checked.png);}
.footer{ background-color: #000000; padding-top: 2%; padding-bottom: 1%; }
.footer .row{ padding: 0; }
.footer p{ font-size: 14px; margin-bottom: 0px; text-align: center; }
.row{ padding: 5% 0; }
.heading{ color: #333;font-weight: 700;line-height: 1;}
.subheading {color: #ffeb3b;font-weight: normal;}
.logo{ margin-bottom: 30px; }
.fast-action-heading{background-color:#c18ba6; padding: 15px 0; color: #fff; margin-top: 35px;}
.fast-action-contents{ background-color: #fff;border: 1px solid #eee; padding: 40px; display: flex;align-items: center; }
.fast-action{ margin-bottom: 50px; box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.06); }
.right{ float: right; }
.faq{ margin-bottom: 20px; }
.faq p{ margin-bottom: 5px; }
.faq img{ vertical-align: middle; margin-right: 10px;}
.faq ul{ padding-left: 55px; }
.faq ul li{ padding-left: 15px; background-image: none; }
.answer{ padding-left: 64px; }
.advice img{ vertical-align: middle; }
.padding {padding-top: 0; padding-bottom: 0;}

@media (max-width: 900px) {
	.rw-1 .columns{
		width: 100%;
	}
}
@media (max-width: 767px){
  .header-buy-button{ margin-bottom: 0px!important; }
  .ask{ top: 0px!important; }
  .fast-action-contents .col-md-5, .fast-action-contents .col-md-7 { margin: 15px 0; }

  .for-mobile{
    font-size: 26px !important;
 }
 .for-mobile1{
    font-size: 20px !important;
 }
 .for-mobile2{
    font-size: 30px !important;
 }

 .for-mobile3{
    font-size: 24px !important;
 }

 .for-mobile4{
    font-size: 24px !important;
    margin-top: -12px !important;
}
 .for-mobile5{
    font-size: 26px !important;
 }
 .for-mobile6{
    font-size: 16px !important;
 }
 .for-mobile7{
    font-size: 35px !important;
 }
.for-mobile8{
    font-size: 20px !important;
 }
 .for-mobile9{
    font-size: 51px !important;
 }
 .for-mobile10{
    font-size: 30px !important;
 }

.for-mobile11{
    font-size: 23px !important;
 }
 .for-mobile12{
    font-size: 27px !important;
 }

 .for-mobile13{
    font-size: 21px !important;
 }
}
}